.f-reverse {
    margin-left: 200px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .f-reverse {
        margin-left: 0; /* No margin on smaller screens */
        margin-top: 0;
    }
}
@media (min-width: 1024px) {
    .col-md-6.p-0.d-flex.align-items-center.justify-content-center {
      align-items: center !important;
    }
  }

  .color-1{
    color: #C0C3F4;
  }
  .color-2{
  color: #7277BE;
  }
  .color-3{
    color: #20232A;
  }
  .color-4{
  color: #F8F9FC;
  }
  .color-5{
    color: #888DD8;
  }